pkgbase = plasma-skel
	pkgdesc = Settings kde/plasma
	pkgver = 1.0.5
	pkgrel = 0
	url = https://github.com/ctlos/plasma-skel
	install = README.install
	arch = any
	license = GPL
	makedepends = git
	depends = plasma-desktop
	source = git+https://github.com/ctlos/plasma-skel.git
	sha256sums = SKIP

pkgname = plasma-skel
